<?xml version="1.0"?>
<!--
/**
 * Akhil Gupta
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL)
 * This is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/OSL-3.0  Open Software License (OSL)
 *
 * DISCLAIMER**
 *
 * @category   MAGENTO2 Simple EVENT MODULE
 * @package    MAGENTO2 Simple EVENT MODULE
 * @url       https://www.youtube.com/user/thisisakhilgupta/
 * @author    Akhil Gupta
 */

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="controller_action_predispatch">
        <observer name="akhil_event_observer_eachpageload" instance="Akhil\Event\Observer\EachPageLoad" />
    </event>
<event name="customer_customer_authenticated">
        <observer name="akhil_event_observer_customer_authenticated" instance="Akhil\Event\Observer\Customer\Authenticated" />
    </event>
</config>
